.Carts {
    box-shadow: 2px 5px 10px #ccc;
    background-color: rgb(253, 252, 250);
    border-radius: 5px;
    height: 100vh;
}

.CartHeader {
    padding: 10px;
}

.ClearBTN{
    color: #000;
}
.Title {
    font-weight: bold;
    font-size: 18px;
}
.Footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
}
.TotalPrice {
    font-weight: bold;
    margin-top: 8px;
    margin-left: 12px;
}
.OrderBTN {
    background-color: #f97e00;
    color: white;
}