.Cart {
    border-top: 1px solid #ccc;
    box-shadow: 1px 2px 5px #ccc;
    background-color: rgb(253, 252, 250);
    height: 10vh;
    padding: 5px;
}
.QuantityInput{ 
    width: 30px;
}

.DeleteCartItem{
    margin-top: 10px;
}

.DeleteCartItem a{
    color: #DA5166;

}
.CartItemMT {
    margin-top: 5px;
}
.OrderProductPrice{
    margin-left: 3px;
}
.ProductInfo{
    display: inline-block;
    margin-left: 5px;
}
.Image {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: #f97e00;
    border-radius: 5px;
}
.Name {
    font-weight: bold;
    font-size: 1.2rem;
}
.Quantity {
    color: #f97e00;
    font-size: 1rem;
}
.Price {
    font-size: 1rem;
}